body {
    padding-top: 10vh;
}

.navbar-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    max-height: 180px;
}

.navbar-center h1 {
    font-size: 2rem;
}

.nav-link {
    font-size: 1.2rem;
}

footer {
    width: 100%;
    background-color:rgb(3, 130, 233);
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2vh;
    color: white;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1vh 0;
    margin-top: 2vh;
}

.jumbotron {
    width: 100%;
    font-size: 3.5rem;
    font-family: "Gill Sans", sans-serif;
}

.carrossel {
    margin-left: 20%;
    margin-right: 20%;
    border: 5px solid rgb(3, 130, 233);
    border-radius: 10px;
    overflow: hidden;
}

.carousel-inner {
    width: 100%;
    height: 70vh;
}

.carousel-item img {
    width: 100%;
    height: 70vh;
    object-fit: cover;
}

.descricao {
    font-family: "Gill Sans", sans-serif;
    text-align: center;
    margin-top: 4vh;
    margin-bottom: 4vh;
    margin-left: 20%;
    margin-right: 20%;

}

.descricao h2 {
    font-size: 2.5rem;
}
.descricao p {
    font-size: 1.5rem;
}

.botoesPaginas {
    margin-top: 4vh;
    margin-bottom: 4vh;
    text-align: center;
}

.equipamentos {
    margin-top: 4vh;
    margin-bottom: 4vh;
    text-align: center;
}

.mapa {
    font-family: "Gill Sans", sans-serif;
    text-align: center;
    margin-top: 4vh;
    margin-top: 4vh;
    margin-left: 30%;
    margin-right: 30%;
}

.mapa h3 {
    font-size: 2rem;
}
.mapa p {
    font-size: 1.5rem;
}

footer a {
    color:white;

}

@media (max-width: 768px) {
    .jumbotron {
        font-size: 2.5rem;
    }

    .carrossel {
        margin-left: 5%;
        margin-right: 5%;
        height: 40vh;
        
    }

    .carousel-item img {
        height: 40vh;
    }
    

    .descricao {
        margin-left: 5%;
        margin-right: 5%;
    }

    .descricao h2 {
        font-size: 2rem;
    }

    .descricao p {
        font-size: 1.5rem;
    }

    .mapa {
        margin-left: 5%;
        margin-right: 5%;
    }

    .navbar-center h1 {
        font-size: 1.5rem;
    }
    
    .nav-link {
        font-size: 1rem;
    }

    
}

/* css para a galeria imagens */


.galeria_interior{
    display: block;
    margin: 1vh;
    border: 0.5vh solid rgb(3, 130, 233);
    border-radius: 5vh;
    overflow: hidden;
}

.galeria_exterior{
    display: block;
    margin: 1vh;
    margin-bottom: 4vh;
    border: 0.5vh solid rgb(3, 130, 233);
    border-radius: 5vh;
    overflow: hidden;
}

.galeria_interior .descricaoImagem, .galeria_exterior .descricaoImagem{
    font-size: 1rem;
    padding: 3%;
    text-align: center;
    font-family: "Gill Sans", sans-serif;
} 

.imagensInterior{
    width: 100%;
    border-top-left-radius: 4vh;
    border-top-right-radius: 4vh;
    height: 30vh;
    object-fit: cover;
}

.imagensExterior{
    width: 100%;
    border-top-left-radius: 4vh;
    border-top-right-radius: 4vh;
    height: 50vh;
    object-fit: cover;
}

.botoesPaginasGaleria {
    margin-top: 2vh;
    margin-bottom: 2vh;
    text-align: center;
}

.carousel-caption {
    background-color: rgba(190, 190, 190, 0.75);
    padding: 1vh 1vh;
    border-radius: 1vh;
    text-align: center;
    margin: auto;
    width: 40%;
}

.panorama{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:12.078rem;
    width: 100%;
}

.helpBanner{
    position:static;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.container[id='container-md']{
    background-color: aqua;
    border-top: 10px;
    padding-top: 2rem;
    border-radius: 10px;
}

.col[id='col-map']{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    top: 0rem;
    bottom: 0rem;    
}

.phoneNumber{
    position:relative;
    margin-left: 0.3em;
}

.emailAddress{
    position:relative;
    margin-left: 0.3em;
}

/* Custom styles for booked and available days */
.available {
    background-color: #d4edda; /* light green */
    color: #155724;
}
.booked {
    background-color: #f8d7da; /* light red */
    color: #721c24;
}
.calendar-week {
    border: 1px solid #dee2e6;
    padding: 10px;
}
.day-header {
    font-weight: bold;
    text-align: center;
    padding: 10px;
    background-color: #f1f1f1;
}